

a {
  color: #70abaf;
  transition: color 0.2s;
  font-family: "Josefin Slab";
  text-decoration: none;

}

a:hover {
  color: #FF8C00;
  font-family: "Josefin Slab";
}

a.thumbnail {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background: no-repeat center;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}

.top-bar-left {
  float: left;
  font-family: "Josefin Slab";
  color: #FF8C00;
  font-size: 35px;
  text-decoration: none;

}

.top-bar-right {
  float: right;
  font-family: "Josefin Slab";
  color: #70abaf;
  font-size: 18px;
  text-decoration: none;
}

.top-bar a,
.nav a {
  margin: 0 8px;
  font-family: "Josefin Slab";
}

.container {
  margin: 10px auto;
  text-align: center;
  width: 700px;
  font-family: "Josefin Slab";
}

.card-heading {
  padding: 16px;
  font-family: "Josefin Slab";
}

.field-line, .button-line {
  padding: 16px;
  font-family: "Josefin Slab";
  color: white;

}

.field-line label {
  width: 300px;
  margin: 0 auto;
}

.button-line div {
  background-color: #70abaf;
  font-family: "Josefin Slab";
  box-shadow: none !important;
}

.button-line div button {
  border-radius: 2px;
}

.button-line div button span {
  text-transform: capitalize !important;

}

.error-message {
  padding: 0 16px;
  color: tomato;
  font-family: "Josefin Slab";
}

.success-message {
  padding: 0 16px;
  color: green;

}

ul.search-results>li {
  display: inline-block;
  list-style: none;
  padding: 20px;
  vertical-align: top;
  cursor: pointer;
  font-family: "Josefin Slab";
}

ul.search-results>li img.result {
    max-width: 100%;
    height: inherit;
}

button.selected {
    background-color: #333;
    color: white;
    border-color: #000;
}
button.unselected {
    background-color: #ccc;
    color: #444;
    border-color: #999;
    font-weight: normal;
    font-family: "Josefin Slab";
}


button.tags.selected {
    background-color: #49787b;
}

button.tags {
    background-color: #70abaf;
    color: white;
    font-family: "Josefin Slab";
    margin-right: 5px;
    border-radius: 2px;
    height: 36px;
    box-shadow:none;
    border: transparent;
}

.element {
  display: inline-block;
  font-family: "Josefin Slab";
  color: white;
  font-size: 35px;
  background-color: #70abaf;
  height: 100px;
  width: 100px;
  transition: width 2s;
  margin-right: 5px;
  margin-left: 5px;
}
.element:hover{
  width: 500px;
  background: #705D56;
}


@keyframes shake {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}

body, html {
  height: 100%;
}


body {
  align-items: center;
  justify-content: center;
}

.sidebar-left {
    position: absolute;
    top: 100px;
    left: 0;
    width: 250px;
    height: 80%;
    overflow-y: scroll;
}

.moreResultsLink {
  width: 100%;
}

.favesLinks {
    font-size: .7em;
    text-decoration: underline;
    cursor: pointer;
}